<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.frdevstudio.fr.project">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".PreferencesActivity"
            android:theme="@style/CustomTheme"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".ClothesEdit"
            android:label="Kıyafet Düzenle"
            android:theme="@style/CustomTheme" />
        <activity android:name=".Example" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.frdevstudio.fr.project"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".AddClothes"
            android:label="Kıyafet Ekle"
            android:theme="@style/CustomTheme" />
        <activity android:name=".CameraOps" />
        <activity android:name=".SignIn" />
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity"
            android:label="Bugün Ne Giysem?">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="label" />
    </application>

</manifest>